/* COMMON */
.small-wrapper {
    max-width: 900px;
    margin: auto;
}

.div-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* HEADER */

/* NAV */
.nav-top {
    padding: 20px;
}

header nav {
    text-align: right;
}

.burger-menu {
    font-size: 20px;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-left: 10px;
}

.nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
}

.nav-menu.lang {
    text-align: left;
}

.nav-menu.lang li {
    border-left: 1px solid black;
    padding-left: 10px;
}

.nav-menu.lang li:first-child {
    border-left: none;
}

/* JUMBOTRON */
.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    height: 500px;
    position: relative;
}

.teaser {
    color: white;
    text-align: center;
}

.jumbotron .teaser h1 {
    font-size: 40px;
}

.jumbotron .teaser p {
    font-size: 15px;
}

.jumbotron img {
    height: 50px;
    padding-top: 10px;
}